button {
  cursor: pointer;
  display: inline-block;
  min-height: 1em;
  outline: none;
  border: none;
  vertical-align: baseline;
  background: $button-color;
  color: $text-color;
  margin: 0;
  padding: 0.78571429em 1.5em 0.78571429em;
  text-transform: none;
  text-shadow: none;
  font-weight: bold;
  line-height: 1em;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  border-radius: 0.28571429rem;
  width: 100%;

  &:hover,
  &:focus{
    background-color: darken($button-color, 10%);
  }

  &.link{
    background: none;
    border:none;
    cursor: pointer;
    color:$link-color;
    &:hover, &:focus{
      color: darken($link-color, 10%);
      background-color:transparent;
    }
  }

}