.form {

  .form__header {
    margin-bottom: 5%;
    color: $heading-color;
  }

  .form__body {
    background:#fff;
    padding: 5% 10%;
    .form__field {
      clear: both;
      margin: 0 0 2em;
    }
    .form__submit {
      margin: 2em 0 0 0;
    }
  }

}