.list {
  background: #fff;

  :after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    border-bottom: 1px solid #f1f0f0;
  }

  .list__item {
    display:flex;
    align-items: stretch;
    padding: .75rem .5rem;
    position: relative;

    .list__item__body {
      flex:1;
      margin-left: .5rem;
      margin-right: .5rem;

      .list__item__body__header {
        font-weight:500;
        font-size:1em;
      }
      .list__item__body__description{
        font-size:.8em;
        height: 1.5em;
        overflow: hidden;
      }

    }

  }

}

