.logged-in-box{
  margin: 0 auto;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  background: #fff;
  color: $heading-color;
  padding: 2em;
  .logged-in-box__content {
    p {
      color:$text-color;
    }
  }
  button {
    margin-top: 2em;
  }
}