.message {
  position: relative;
  min-height: 1em;
  margin:0;
  background:#f8f8f9;
  padding:1em 1.5em;
  line-height: 1.4em;
  color: #000;
  text-align: left;
  .message__header { font-size: 21px; }
  .message__list {
    font-size: 14px;
    position: relative;
    margin: .3em 0 0 0;
    padding: 0;
    .message__list__item {
      position: relative;
      margin: 0;
      padding: 0;
    }
  }
  &.message--error{
    background-color: $error-bg-color;
    color:$error-text-color;
    .message__header {
      color:$error-text-color;
    }
  }
}