@mixin input-placeholder($size, $color: $text-color) {
  &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $color;
    font-size: $size;
  }
  &::-moz-placeholder { /* Firefox 19+ */
    color: $color;
    font-size: $size;
  }
  &:-ms-input-placeholder { /* IE 10+ */
    color: $color;
    font-size: $size;
  }
  &:-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-size: $size;
  }
  font-size: $size;
}