// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Roboto+Slab|Open+Sans:400italic,700italic,400,700);

// Font Variables
$roboto-slab: 'Roboto Slab', serif;
$open-sans: 'Open Sans', sans-serif;

$text-color: #4c4947;
$secondary-color: #efedef;
$heading-color: #fff;
$link-color: #2185D0;

$base-font-family: $open-sans;
$base-font-size: 18px;
$base-font-weight: 300;

$heading-font-family: $roboto-slab;
$heading-font-weight: 700;

$button-color: #e0e1e2;
$error-bg-color: #fff6f6;
$error-text-color: #912d2b;

